@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&display=swap');

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    background-image: url("images/image_geometry_1.png");
    background-repeat: no-repeat;
  }

  header {
    background-image: url("images/image_geometry_2-1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 630px;
  }

  .header-cont {
    margin: 16px;
  }

  .nav-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .header-h1 {
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-size: 50px;
    font-family: "Playfair Display", sans-serif;
    color: #1a2236;
    margin-top: 60px;
  }

  .header-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    height: 130px;
    width: 269px;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    color: #1a2236;
  }

  .start-btn {
    width: 288px;
    text-align: center;
    margin: 20px 0;
    background: #1a2236;
    padding: 12px 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .start-btn:hover {
    background-color: white;
    color: #1a2236;
    border: 1px solid #1a2236;
    transition: 300ms;
  }

  .project-grid {
    display: grid;
    grid-row: 6;
    grid-column: 1;
  }

  .project-cont {
    display: flex;
    flex-direction: column;
  }

  .projects-h1 {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    margin: 40px 0 32px 16px;
  }

  .project-info {
    background-color: #1a2236;
    padding: 20px;
  }

  .project-img {
    float: left;
    margin-bottom: -2px;
  }

  .project-names {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: white;
    margin: 0 0 16px 0;
  }

  .project-lang {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
  }

  .project-li{
    margin: 0;
    background: #98dede;
    color: #1a2236;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10.3334px;
    line-height: 80%;
    margin: 0 5px;
    padding: 6px 10px;
    text-align: center;
    white-space: nowrap;
    list-style-type: none;
  }

  .project-li:first-child {
    margin-left: 0;
  }

  .project-btn {
    background: #1a2236;
    border: 1px solid white;
    padding: 10px 15px 10px 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
  }

  .project-btn:hover {
    color: #1a2236;
    background-color: white;
    transition: 300ms;
    padding: 12px 48px 12px 48px;
  }

  .project-btn:hover > .project-btn-icon{
    color: #1a2236;
  }

  .project-btn-icon {
    font-size: 15px;
    color: white;
    margin-left: 12px;
  }
}
